.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: "1px solid lightgray";
    padding: "5px";
    margin: "5px";
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    height: 250px;
    margin: 10px;
}

.image {
    height: 150px;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

.name {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 10px;
    text-align: center;
}